@define-color red #cc241d;
@define-color bright_red #fb4934;
@define-color green #98971a;
@define-color bright_green #b8bb26;
@define-color yellow #d79921;
@define-color bright_yellow #fabd2f;
@define-color blue #458588;
@define-color bright_blue #83a598;
@define-color purple #b16286;
@define-color bright_purple #d3869b;
@define-color aqua #689d6a;
@define-color bright_aqua #8ec07c;
@define-color gray #a89984;
@define-color bright_gray #928374;
@define-color orange #d65d0e;
@define-color bright_orange #fe8019;

@define-color bg_h #1d2021;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color background @bg0;
@define-color fg0 #32302f;
@define-color fg1 #a89984;
@define-color fg2 #bdae93;
@define-color fg3 #d5c4a1;
@define-color fg4 #ebdbb2;
@define-color fg5 #fbf1c7;
@define-color foreground @fg4;
@define-color warning @bright_red;

/*
 * My color aliases.
 */

@define-color bar_bg @bg1;
@define-color bar_fg @foreground;
@define-color module_bg @bg1;
@define-color module-fg @foreground;
@define-color module-bg-hover @bg3;
@define-color module-fg-hover @foreground;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu, FontAwesome, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @bar_bg;
    border-bottom: @bg_h;
    color: @bar_fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.module:hover {
	background-color: @bg2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @foreground;
}
*/

window#waybar.termite {
    background-color: @fg3;
}

window#waybar.chromium {
    background-color: @black;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @foreground;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @bg3;
}

#pulseausio.muted {
	color: @red;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @bg3;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @blue;
    box-shadow: inset 0 -3px @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @foreground;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @module_bg;
}

#battery {
    background-color: @module_bg;
    color: @module-fg;
}

#battery.charging, #battery.plugged {
    color: @bright_green;
    background-color: @module_bg;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @black;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @module_bg;
    color: @bright_red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @red;
    color: @foreground;
}

#power-profiles-daemon.balanced {
    background-color: @blue;
    color: @foreground;
}

#power-profiles-daemon.power-saver {
    background-color: @red;
    color: @black;
}

label:focus {
    background-color: @module_bg;
}

#cpu {
    background-color: @bright_green;
    color: @black;
}

#memory {
    background-color: @magenta;
}

#disk {
    background-color: @bg5;
}

#backlight {
    background-color: @module_bg;
}

#network {
}

#network.disconnected {
    color: @bright_red;
}

#wireplumber {
}

#wireplumber.muted {
    color: @red;
}

#custom-media {
    background-color: @module_bg;
    color: @bright_cyan;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @yellow;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @blue;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: @module_bg;
}

#idle_inhibitor.activated {
    background-color: @foreground;
    color: @module_bg;
}

#mpd {
    background-color: @module_bg;
    color: @cyan;
}

#mpd.disconnected {
    background-color: @bright_red;
}

#mpd.stopped {
    background-color: @bright_blue;
}

#mpd.paused {
    background-color: @bright_cyan;
}

#language {
    background: @cyan;
    color: @bright_magenta;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @bright_green;
    color: @black;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @bright_white;
}

#privacy-item.screenshare {
    background-color: @module_bg;
}

#privacy-item.audio-in {
    background-color: @module_bg;
}

#privacy-item.audio-out {
    background-color: @module_bg;
}
