@import "everforest_dark.css";

* {
	font-family: DejaVu, FontAwsome, sans-serif;
	font-size: 13px;
}

#waybar {
	background-color: @bar_bg;
}

window#waybar {
	background-color: @background;
	color: @foreground;
}

#workspaces button {
	padding: 0 8px;
	color: @fg2;
	background-color: transparent;
	transition-duration: .3s;
}

#workspaces button.focused {
	color: @bg0;
	background-color: @bright_green;
}

#workspaces button.urgent {
	color: @bg0;
	background-color: @bright_red;
}

#wondow {
	color: @fg2;
}

#wireplumber,
#network,
#clock {
	padding: 0 10px;
	color: @fg3;
}


#wireplumber:hover,
#network:hover,
#clock:hover {
	background-color: @bg2;
	transition-duration: .3s;
}

#network.disconnected {
	color: @bright_red;
}
